/*****************************************************/
/* Responsive for web
/*****************************************************/
@media screen and  (max-width: 1024px) {

	.site-footer{
		padding: 15px 10px;
	    background: #3464dc;
    background: -moz-linear-gradient(top, #3464dc 0%, #224087 100%);
    background: -webkit-linear-gradient(top, #3464dc 0%,#224087 100%);
    background: linear-gradient(to bottom, #3464dc 0%,#224087 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3464dc', endColorstr='#224087',GradientType=0 );
	}
	.site-footer .rt-footer{
		width: 100%;
		overflow: hidden;
		padding: 0;
		margin: 0 0 10px 0;
	}
	.product-style li{
		width: 48%;
		margin: 0  1% 15px !important;
	}
	.product-style li:nth-child(2n+1){
		clear: both !important;
	}
	.product-style li:nth-child(4n+1){
		clear: none !important;
	}
	.rt-thumb ,
	.related .rt-thumb{
		height: 200px;
	}
	.rt-thumb > a > img,
	.related .rt-thumb > a > img{
		width: auto;
		height: auto;
		max-height: 200px;
	}
	.content-new-left{
		display: none;
	}
	.news-list{
		width: 100%;
	}
	.site-container{
		width: 100%;
		padding: 0 5px;
		overflow: hidden;
	}
	.main-navigation{
		display: none;
	}
	#sfm-sidebar.sfm-compact .sfm-logo{
		margin: 0 !important;
		padding: 0 5px !important;
	}
	.sfm-title {
		margin: 10px 0 10px 0;
	}
	.sfm-title h3{
		color: #fff;
		font-size: 16px;
	}
	.site-branding{
		text-align: center;
	}
}	

@media screen and  (max-width: 568px) {
	.box-content-new .meta-content .title:after{
		content: "";
		background:none;
		border: 0;
	}
	.box-content-new .meta-content .title{
		overflow: hidden;
	}
}

@media screen and  (max-width: 480px) {

}

@media screen and  (max-width: 414px) {
	.rt-thumb ,
	.related .rt-thumb{
		height: 100px;
	}
	.rt-thumb > a > img,
	.related .rt-thumb > a > img{
		width: auto;
		height: auto;
		max-height: 100px;
	}
	.content-products .price del span{
		font-size: 14px;
	}
	.content-products .price ins span{
		font-size: 15px;
	}
	.arc-news .new-list .news-post .img-post{
		width: 100%;
		margin: 0 auto 10px;
	}
	.arc-news .new-list .news-post .img-post img{
		width: 100%;
	}
	.content-products .rt_woocommerce-loop-product__title a{
		line-height: 20px;
		height: 40px;
	}
}

@media screen and  (max-width: 320px) {

}