/*--------------------------------------------------------------
#  WooCommerce
--------------------------------------------------------------*/
/* Content */
ul.woocommerce {
    margin: 0;
    padding: 0;
}
.woocommerce li.product {
    margin-bottom: 30px;
    list-style: none;
}
.product-style{
    overflow: hidden;
    clear: both;
}
.product-style li{
    float: left;
    width: 23%;
    margin: 0 2.66% 30px 0;
    box-sizing: border-box;
    position: relative;
}
.product-style li:nth-child(4n){
    margin-right: 0;
}
.product-style li:nth-child(4n+1) {
    clear: both;
}

/*************************************/
/*
*   rt-thumb
*/
.rt-thumb {
    display: table;
    width: 100%;
    table-layout: fixed;
    height: 185px;
    overflow: hidden;
    position: relative;
    overflow: hidden;
}
.related .rt-thumb {
    height: 150px;
}

.rt-thumb > a{
    text-align: center;
    display: table-cell;
    position: relative;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    line-height: 0;
    transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -web-transition: all 400ms ease-in-out;
}
.rt-thumb > a > img{
    width: 100%;
    height: 185px;
    margin: 0 auto;
    object-fit: cover;
    position: relative;
}
.related .rt-thumb > a > img{
    height: 150px;
}
.content-products{
    padding: 10px 0 0;
    text-align: center;
}
.content-products .price {
    overflow: hidden;
    clear: both;
    margin: 0;
}
.content-products .price del,
.content-products .price ins{   
    text-decoration: none;
}
.content-products .price ins span{
    color: #dd1600;
    font-size: 16px;
}
.content-products .price del {
    color: #666;
    line-height: 30px;
    display: block;
    text-decoration: line-through;
    opacity: 1;
}
.content-products .price del span{
    font-size: 16px;
    color: #666;
}
.content-products .price > span{
    font-size: 19px;
    display: block;
    background: #3464dc;
    background: -moz-linear-gradient(top, #3464dc 0%, #224087 100%);
    background: -webkit-linear-gradient(top, #3464dc 0%,#224087 100%);
    background: linear-gradient(to bottom, #3464dc 0%,#224087 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3464dc', endColorstr='#224087',GradientType=0 );
    line-height: 30px;
    color: #fff !important;
    margin-top: 30px;
}
.content-products .price ins{
    line-height: 30px;
    display: block;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3464dc+0,224087+100 */
background: #3464dc; /* Old browsers */
background: -moz-linear-gradient(top, #3464dc 0%, #224087 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #3464dc 0%,#224087 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #3464dc 0%,#224087 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3464dc', endColorstr='#224087',GradientType=0 ); /* IE6-9 */
}
.content-products .price ins span{
font-size: 19px;
    color: #fff;
    font-weight: 500;


}
.content-products .rt_woocommerce-loop-product__title{
    background: url(images/title.png)bottom repeat-x;
    margin: 0 0 6px 0;
    padding: 0 0 10px 0;
}
.content-products .rt_woocommerce-loop-product__title a{
    color: #333;
    display: block;
    line-height: 25px;
    height: 25px;
    font-weight: 500;
    overflow: hidden;
    font-size: 17px;
    text-transform: capitalize;
}

.woocommerce li.product .rt-thumb img {
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease;
    transition: transform 0.5s ease;
    margin: 0 !important;

}
.woocommerce li.product .rt-thumb:hover img {
    -webkit-transform: scale(1.09);
    -moz-transform: scale(1.09);
    -o-transform: scale(1.09);
    transform: scale(1.09);
}
.woocommerce li.product .price:after {
    content: '';
    display: block;
    clear: both;
}

.rt_product_excerpt {
    margin-bottom: 10px;
    font-size: .899em;
    padding: 0 6px;
}


/******************************/


.content-products .price span {
    color: #fff;
    font-size: 19px
}


.rt_add_to_cart {
  padding-left: 6px;
  padding-right: 6px;
  text-align: center;
}

.woocommerce li.product .rt_add_to_cart a {
    background: #eda418;
    font-weight: 100;
    border-radius: 4px;
    border: 1px dotted #946201;
    outline: none;
    padding: 4px 14px;
    color: #fff;
    float: left;
    margin-top: 0;
    line-height: 1;
    font-size: 13px;
    margin-top: 0 !important;
}

.woocommerce li.product .rt_add_to_cart a.view_product 
{    background: #473f9c;
    float: none;
    display: none;
}
.woocommerce li.product .rt_add_to_cart a.single_view_product {
    float: none;
}
.woocommerce li.product .rt_add_to_cart a.add_to_cart_button,
.woocommerce li.product .rt_add_to_cart a.added_to_cart, .woocommerce li.product .rt_add_to_cart a {
    float: right;
    color: #fff;
}

@media (max-width: 1200px) {
    .woocommerce li.product .rt_add_to_cart a.add_to_cart_button,
    .woocommerce li.product .rt_add_to_cart a.added_to_cart {
        display: block;
    }
}

.woocommerce li.product .rt_add_to_cart a.add_to_cart_button.added {
    display: none;
}

.woocommerce li.product .rt_add_to_cart a.buy_now_shop_loop_btn {
    float: right;
}



.rt_rating {
    background: url(../images/rating.png) center center no-repeat;
    width: 100%;
    height: 14px;
    margin: 10px 0;
}

.woocommerce li.product .rt_onsale {
    background: url(../images/sale-flash.png);
    position: absolute;
    top: 3px;
    right: 3px;
    border-radius: 50%;
    width: 53px;
    height: 49px;
    text-align: center;
    line-height: 49px;
    font-weight: bold;
    z-index: 999;
}

@media (max-width: 413px) {
    .rt_add_to_cart {
        padding: 0 5px;
    }
}

/* Single */
.woocommerce div.product .product_title {
  font-size: 22px;
}

.rt_single_regular_price {
    color: #989898;
    text-decoration: line-through;
    font-size: 15px;
}

.rt_single_regular_price.no_sale {
    color: red;
    text-decoration: none;
    font-size: inherit;
}

.rt_single_sale_price {
    color: red;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
}

.rt_price_text {
    font-size: 14px;
    color: #2d2d2d;
}

.woocommerce .star-rating span {
    color: #ccc;
}

.woocommerce div.product .woocommerce-product-rating {
    margin-bottom: 0.618em;
}

.product_meta {
    margin: 6px 0;
}

.woocommerce .woocommerce-breadcrumb {
    background-color: #f5f5f5;
    color: #222;
    border-top: 2px solid #0f7fc1;
    padding: 8px;
}

.site.boxed .woocommerce-breadcrumb {
    padding: 8px 15px;
}

.woocommerce .woocommerce-breadcrumb a {
    color: #222;
}

/* Single Product */
.single-product .rt_woocommerce-product-gallery .rt-woocommerce-product-gallery__wrapper {
    position: relative;
}

@media (min-width: 992px) {
  .single-product .rt_woocommerce-product-gallery, .woocommerce #content div.product div.images {
      width: 43%;
      float: left;
      margin-bottom: 20px;
  }

  .single-product .rt-summary {
      width: 55%;
      float: right;
      margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
    .single-product .rt-summary {
        margin-top: 20px;
    }

}

.single-product .rt_woocommerce-product-gallery.vertical .rt-woocommerce-product-thumbnail {
    width: 82%;
    float: right;
}

.single-product .rt_woocommerce-product-gallery.vertical .rt-woocommerce-product-gallery-nav {
    position: relative;
    width: 16.75%;
    max-width: 91px;
    float: left;
    height: 423px;
    max-height: 423px;
    overflow: hidden;
}

.single-product .rt_woocommerce-product-gallery.horizontal .rt-woocommerce-product-gallery-nav {
    height: 20px;
    z-index: 999;
    position: relative;
    width: 100%;
    height: 115px !important;
    cursor: pointer;
    box-shadow: none !important;
    border: 0;
    overflow: hidden;
}

@media (max-width: 414px) {
    .single-product .rt_woocommerce-product-gallery.vertical .rt-woocommerce-product-gallery-nav {
        display: none;
    }

    .single-product .rt_woocommerce-product-gallery.vertical .rt-woocommerce-product-thumbnail {
        float: none;
        width: 100%;
    }
}

.rt_woocommerce-product-gallery .woocommerce-product-gallery__image {
    
}
.rt_woocommerce-product-gallery .rt-woocommerce-product-gallery-nav .woocommerce-product-gallery__image {
    margin: 0;
    border: 0;
    text-align: center;
    padding: 0 5px;

}
.rt-woocommerce-product-gallery .woocommerce-product-gallery__image img {
    height: 60px;
}
.rt-woocommerce-product-gallery-nav .woocommerce-product-gallery__image {
    cursor: pointer;
    padding: 5px;
    border-color: #ccc;
    margin: 10px 8px;
    height: auto;
}

.rt_woocommerce-product-gallery.vertical .rt-woocommerce-product-gallery-nav .woocommerce-product-gallery__image {
    width: 100%;
}

.single-product .rt_woocommerce-product-gallery.vertical .thumbelina-but {
    height: 20px;
    z-index: 999;
    position: absolute;
    width: 100%;
    cursor: pointer;
    box-shadow: none !important;
    border: 0;
}
.thumbelina li {
    width: 80px;
}
.rt-woocommerce-product-gallery-nav .woocommerce-product-gallery__image {
    display: inline-block;
}
.thumbelina li img, .rt-woocommerce-product-gallery-nav .woocommerce-product-gallery__image img {
    max-height: 80px;
    margin: 0;
    width: auto;
}
.attribute-single {
    margin: 0;
    padding: 0;
}
.attribute-single li {
    overflow: hidden;
    padding: 5px 0 5px 0px;
}
.attribute-single li .left {
    float: left;
    margin-right: 10px;
    font-weight: 500;
}

.woocommerce div.product form.cart .button {
    background: #1916c3;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 16px;
    outline: none;
}

.woocommerce .quantity .qty {
    height: 35px;
    width: 60px;
    outline: none;
}

.woocommerce div.product form.cart, .woocommerce div.product p.cart {
    margin-bottom: 1.5em;
}

.rt_woocommerce_single_product_summary {
    margin-bottom: 5px;
}
.woocommerce div.product p.price, .woocommerce div.product span.price{
    margin: 0;
}
.rt_woocommerce_single_product_summary-left {
  /*width: 60%;
  float: left;*/
  margin-right: 14px;
}

.rt_woocommerce_single_product_summary-right {
    overflow: hidden;
    background: #f3f3f3;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px;
}
.woocommerce div.product form.cart .rt_qv_btn {
    border: 0;
    background: #009830;
    color: #fff;
    padding: 5px 20px;
}

.rt_box_callback {
    margin: 10px 0;
    padding: 8px;
    background: #5aca59;
    border-radius: 3px;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
}

.rt_box_callback label {
    float: left;
    line-height: 32px;
    margin-bottom: 0;
    margin-right: 5px;
}

@media (max-width: 414px) {
    .rt_box_callback label {
      float: none;
      display: block;
    }
}

.rt_box_callback input[type="text"] {
    border-color: #5aca59;
    font-weight: normal;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 13px;
    color: #222;
    outline: none;
    float: left;
    margin-right: 5px;
}

.rt_box_callback input[type="submit"] {
    background: #ff8400;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    float: left;
    padding: 3px 8px;
    border: none;
    outline: none;
    margin-right: 5px;
}

.ctsp-giaohang, .ctsp-doihang, .ctsp-chinhhang {
    float: left;
    width: 33.333%;
    height: 42px;
    line-height: 42px;
}

.note-ship {
    color: #666;
    font-size: 13px;
    padding: 10px 15px;
    margin-top: 18px;
    border-top: 1px solid #e5e5e5;
    font-weight: bold;
    display: none;
}

form#rt_box_callback {
    display: table;
    margin: 0 auto;
}

.ctsp-giaohang i {
    background: url(../images/gh-icon.png) no-repeat left top;
}

.ctsp-thongdiep i {
    width: 42px;
    height: 42px;
    display: inline-block;
    float: left;
}

.ctsp-doihang i {
    background: url(../images/dt-icon.png) no-repeat left top;
}

.ctsp-chinhhang i {
    background: url(../images/ch-icon.png) no-repeat left top;
}

.money-icon {
    background: url(../images/money-icon.png) no-repeat left top;
    width: 46px;
    height: 30px;
    display: block;
    float: left;
    margin-right: 5px;
}

.ctsp-thongdiep p {
    width: 130px;
    margin-left: 10px;
    display: inline-block;
    text-align: left;
    line-height: 20px;
}

@media (max-width: 600px) {
    .rt_woocommerce_single_product_summary-left, .rt_woocommerce_single_product_summary-right {
        float: none;
        width: 100%;
        margin: 0;
    }

    .note-ship {
        margin-bottom: 10px;
    }

    .single-product .content-area {
      margin-top: 10px;
    }
}

.rt_woocommerce_tabs:after {
    height: 2px;
    width: 100%;
    background: #ccc;
}

.rt_woocommerce_tabs li {
    float: left;
    margin-bottom: -2px;
    margin-right: 20px;
    margin-left: 0;
}

.rt_woocommerce_tabs li.active, .rt_woocommerce_tabs li:hover {
    border-bottom: 2px solid #0f7fc1;
}

.rt_woocommerce_tabs li a {
    color: #333;
    padding: 4px 0;
    display: block;
    font-size: 18px;
    text-transform: uppercase;
}

.rt_woocommerce_tabs li a:hover, .rt_woocommerce_tabs li.active a {
    color: #0f7fc1;
}

.woocommerce div.product .woocommerce-tabs .panel {
    margin: 0;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: #1916c3;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: #1a1894;
}

/* product_style */
.product_style_2 li.product .price {
    width: 60%;
    float: left;
    text-align: left;
}
.product_style_2 li.product .price span.sale-price {
    font-size: 15px;
}

.product_style_3 .price span {
    width: 50%;
    float: left;
}
.woocommerce-product-details__short-description{

}
.woocommerce div.product div.images .flex-control-thumbs li{
    padding: 2px;
}